.home {
  --yellow700-33: #a1620733;
  --yellow700-44: #a1620744;
}

.hero-bg {
  background: linear-gradient(to top left, black, var(--yellow700-44)),
    linear-gradient(to top right, black, transparent);
  background-blend-mode: screen;
}

@media (min-width: 640px) {
  .hero-bg {
    background: linear-gradient(to top left, black, transparent), linear-gradient(to bottom left, black, transparent),
      linear-gradient(to top right, var(--yellow700-33), transparent);
    background-blend-mode: screen;
  }
}

.specials-bg {
  background: linear-gradient(to bottom left, var(--yellow700-44), transparent, transparent),
    linear-gradient(to bottom right, black, transparent, transparent);
  background-blend-mode: screen;
}
