@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins;
}

body {
  background-color: #241711;
}

::-webkit-scrollbar {
  display:none;
}

.App {
  /* overflow-x: hidden; */
  width: 100%;
}

/* Markdown/Prose modifications */
.markdown {
  @apply prose prose-sm sm:prose-base prose-invert max-w-none;
}
.markdown :where(h1,h2,h3,h4,h5,h6):not(:where([class~='not-prose'] *)) {
  @apply first:mt-0;
}
